.container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 73px;
    z-index: 1;
    margin: 129px 10%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage {
    width: 35%;
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding: 0;
    }

    .content {
        flex-direction: column;
    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }
}
